<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>支付成功</title>
  <style type="text/css">
      * {
          margin: 0;
          padding: 0;
      }

      body {
          background: #f3f3f3;
      }

      a {
          text-decoration: none;
      }

      .ordernum {
          padding: 100px 10px;
      }

      .ordernum p {
          text-align: center;
          font-size: 15px;
          color: #323232;
          margin-bottom: 5px;
      }

      .ordernum strong {
          color: #e5004f;
      }

      .open_browser a {
          display: inline-block;
          width: 60px;
          text-decoration: none;
          font-size: 12px;
          color: #323232;
      }
  </style>

</head>

<body>
<section class="ordernum">
  <p>
    <strong>订单支付成功</strong>
  </p>

  <p>
    请回到微信迷你银查看订单状态
  </p>
</section>
</body>
</html>
